# Ignore test output directory
test-output/

# Ignore images in result/img
result/img/*.jpg
result/img/*.png
result/img/*.jpeg

# Ignore specific files
InputData/CMS\ Data.xlsx
ExtentReport.html

# Ignore all HTML and XML files in test-output directory
test-output/**/*.html
test-output/**/*.xml

# Ignore other common IDE files (optional)
.idea/
.vscode/
*.log
 
result/img/DownloadCounterReports.jpg
*.html
ExtentReport.html
test-output/testng-results.xml
test-output/testng-failed.xml
test-output/Suite/testng-failed.xml
test-output/Suite/ReportEngine.xml
test-output/Suite/ReportEngine.html
test-output/Suite/MinorChanges.xml
test-output/Suite/MinorChanges.html
test-output/Suite/Login.xml
test-output/Suite/Login.html
test-output/Suite/CreateNewProperty.xml
test-output/Suite/CreateNewProperty.html
test-output/Suite/CollectionReport.xml
test-output/Suite/CollectionReport.html
test-output/Suite/All Payments.xml
test-output/Suite/All Payments.html
test-output/old/Suite/toc.html
test-output/old/Suite/testng.xml.html
test-output/old/Suite/methods.html
test-output/old/Suite/methods-not-run.html
test-output/old/Suite/methods-alphabetical.html
test-output/old/Suite/Login.properties
test-output/old/Suite/CollectionReport.properties
test-output/old/Suite/classes.html
test-output/old/index.html
test-output/junitreports/TEST-Reports.ReportEngine.xml
test-output/junitreports/TEST-Reports.DownloadReports.xml
test-output/junitreports/TEST-Reports.CollectionReports.xml
test-output/junitreports/TEST-Payments.alltypepayments.xml
test-output/junitreports/TEST-New_property_Wadhghat.MinorChanges.xml
test-output/junitreports/TEST-New_property_Wadhghat.Login.xml
test-output/junitreports/TEST-New_property_Wadhghat.CMS_Test.xml
test-output/index.html
test-output/emailable-report.html
temp/PDFFILE.pdf.crdownload
temp/Chequepay2.pdf
temp/Chequepay.pdf
temp/CashpaymentReceipt.pdf
temp/Card.pdf
temp/Advancepay.pdf
result/img/searchComplaintWadhghat.jpg
result/img/performMinorChangeAndVerify.jpg
result/img/OldTaxex_info.jpg
result/img/NoDueCertificate.jpg
result/img/DownloadCounterReports.jpg
result/img/Dataentry_owner_info.jpg
result/img/Dataentry_floor_info.jpg
result/img/cmsRegisterPageWadhghat.jpg
result/img/cmsPageWadhghat.jpg
result/img/cmsComplaintRegisterWadhghat.jpg
result/img/chequePaymentforClear.jpg
result/img/chequePayment.jpg
result/img/cheque_fail.jpg
result/img/cheque_clear.jpg
result/img/CashPayment.jpg
result/img/Card.jpg
result/img/AssismentNakkal.jpg
result/img/AdvancePayment.jpg
result/img/AddTaxes_and_UploadFiles.jpg
result/img/AddTaxes_and_UploadFiles.jpg
test-output/testng-results.xml
ExtentReport.html
ExtentReport.html
ExtentReport.html
